{% extends 'main.html' %}

{% block contenu %}
{% load static %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="label">Nom</label>
            <input name="nom" type="text" class="input">
        </div>
        <div class="form-group">
            <label class="label">Prenom</label>
            <input name="prenom" type="text" class="input">
        </div>
        <div class="form-group">
            <label class="label">Email</label>
            <input name="email" type="text" class="input">
        </div>
        <div class="form-group">
            <label class="label">Numéro de téléphone</label>
            <input name="num_phone" type="text" class="input">
        </div>
        <div class="form-group">
            <label class="label">Nom d'utlisateur</label>
            <input name="username" type="text" class="input">
        </div>
        <div class="form-group">
            <label class="label">Password</label>
            <input name="password" type="text" class="input">
        </div>
        <input type="submit" value="S'enregistrer">
    </form>

{%endblock%}
</html>